<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lotus</title>

    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/js/angular.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <!--App-->
    <script src="../public/js/app.js"></script>
    <!--Services-->
    <script src="../public/js/services/factory.js"></script>
    <!--Controller-->
    <script src="../public/js/controllers/index.ctl.js"></script>
    <!--Directive-->
    <script src="../public/js/directive/navbar.dir.js"></script>
</head>
<body ng-app="myApp" ng-controller="index">
<navbar></navbar>
<div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="background_imagesPhone">
            <img src="../public/images/instagram/conversation.jpg">
            <img src="../public/images/instagram/camera.jpg">
            <img src="../public/images/instagram/editImage.jpg">
            <img src="../public/images/instagram/newfeed.jpg">
            <img src="../public/images/instagram/profile.jpg">
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 paddingTop_100_tmt paddingBottom_100_tmt">
        <div class="col-sm-10" style="text-align: center">
            <h2 style="font-weight: 600;">Lotus</h2>
        </div>
        <div class="col-sm-10" style="text-align: center">
            <span>Liên kết tài khoản của bạn với chúng tôi</span>
        </div>
        <form class="form-horizontal" ng-show="registerAccount.login" name="createAccount">
            <div class="col-sm-10" style="text-align: center" ng-if="registerAccount.completed">
                <h3>Đăng ký thành công</h3>
                <span></span>
            </div>
            <div class="form-group marginBottom_5_tmt">
                <div class="col-sm-10">
                    <input ng-model="registerAccount.createAccount.username" type="email" name="email"
                           class="form-control"
                           placeholder="Số điện thoại hoặc email"/>
                </div>
            </div>
            <div class="form-group marginBottom_5_tmt">
                <div class="col-sm-10">
                    <input ng-model="registerAccount.createAccount.name" type="text" name="fullname"
                           class="form-control"
                           placeholder="Tên đầy đủ"/>
                </div>
            </div>
            <div class="form-group marginBottom_5_tmt">
                <div class="col-sm-10">
                    <input ng-model="registerAccount.createAccount.nickname" type="text" name="nick"
                           class="form-control"
                           placeholder="Tên người dùng"/>
                </div>
            </div>
            <div class="form-group marginBottom_5_tmt">
                <div class="col-sm-10">
                    <input ng-model="registerAccount.createAccount.password" type="password" name="password"
                           class="form-control"
                           placeholder="Mật khẩu"/>
                </div>
            </div>
            <div class="form-group marginBottom_5_tmt">
                <div class="col-sm-offset-3 col-sm-10" style="margin-left: 0;margin-top: 10px;">
                    <button type="submit" class="button_background_none_tmt btn btn-default" style="width: 100%"
                            ng-click="registerAccount.buttonCreateAccount()">
                        Tạo tài khoản
                    </button>
                </div>
            </div>
        </form>
        <form class="form-horizontal" ng-show="!registerAccount.login">
            <div class="form-group marginBottom_5_tmt">
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" ng-model="login.loginAccount.username"
                           placeholder="Email">
                </div>
            </div>
            <div class="form-group marginBottom_5_tmt">
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" ng-model="login.loginAccount.password"
                           placeholder="Password">
                </div>
            </div>
            <div class="form-group marginBottom_5_tmt">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="button_background_none_tmt btn btn-default"
                            ng-click="login.buttonLogin()">
                        Đăng nhập
                    </button>
                </div>
            </div>
        </form>
        <div class="col-sm-10" style="text-align: center;">
            <button ng-click="registerAccount.click()" class="button_clear_tmt" ng-show="!registerAccount.login">
                Tạo tài khoản
            </button>
            <button ng-click="registerAccount.click()" class="button_clear_tmt" ng-show="registerAccount.login">
                Tôi đã có tài khoản
            </button>
        </div>
    </div>
    <div class="col-md-1">{{registerAccount.createAccount.username}}</div>
</div>
</body>
</html>