<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lotus</title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/js/angular.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <!--App-->
    <script src="../public/js/app.js"></script>
    <!--Services-->
    <script src="../public/js/services/factory.js"></script>
    <!--Controller-->
    <script src="../public/js/controllers/index.ctl.js"></script>
</head>
<body>
<div class="container-fluid ">
    <div class="row background_pink_tmt" style="padding:8px 0;">
        <div class="col-md-6 text_tmt paddingTop_4_tmt">
            <span class="text_head_bold_tmt">Lotus</span><br/>
            Chia sẽ khoảnh khắc của bạn
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-10 col-md-offset-1 news_tmt row">
        <div class="row">
            <div class="col-xs-6 col-md-3 news_head_tmt">
                <img src="../public/images/instagran/profile.jpg" height="80" width="75"/>
                <span name="content">
                    <span name="name" style="">name</span>
                    <span name="time">Time</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3 news_head_tmt">

            </div>
        </div>
        <div class="row" style="text-align: center;">
            <img src="../public/images/instagran/newfeed.jpg" height="427" width="240"/>
        </div>
        <div class="row" style="background: #ccc; display: flex; justify-items: ;">
            <span>111</span>
            <span>222</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-10 col-md-offset-1 news_tmt row">
        <div class="row">
            <div class="col-xs-6 col-md-3 news_head_tmt">
                <img src="../public/images/instagran/profile.jpg" height="80" width="75"/>
                <span name="content">
                    <span name="name" style="">name</span>
                    <span name="time">Time</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3 news_head_tmt">

            </div>
        </div>
        <div class="row" style="text-align: center;">
            <img src="../public/images/instagran/newfeed.jpg" height="427" width="240"/>
        </div>
        <div class="row" style="background: #ccc;">
            <span>111</span>
            <span>222</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-10 col-md-offset-1 news_tmt row">
        <div class="row">
            <div class="col-xs-6 col-md-3 news_head_tmt">
                <img src="../public/images/instagran/profile.jpg" height="80" width="75"/>
                <span name="content">
                    <span name="name" style="">name</span>
                    <span name="time">Time</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3 news_head_tmt">

            </div>
        </div>
        <div class="row" style="text-align: center;">
            <img src="../public/images/instagran/newfeed.jpg" height="427" width="240"/>
        </div>
        <div class="row" style="background: #ccc; display: flex;">
            <span style="justify-items: ">111</span>
            <span>222</span>
        </div>
    </div>
</div>
</body>
</html>