<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lotus</title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/js/angular.min.js"></script>
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/ng-file-upload.min.js"></script>
    <script src="../public/js/ng-file-upload-shim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <!--App-->
    <script src="../public/js/app.js"></script>
    <!--Services-->
    <script src="../public/js/services/factory.js"></script>
    <!--Controller-->
    <script src="../public/js/controllers/profile.ctl.js"></script>
    <script src="../public/js/controllers/narnewsfeeds.ctl.js"></script>
    <!--Directive-->
    <script src="../public/js/directive/narNewsFeeds.dir.js"></script>
    <!--Font more-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Animate.css -->
    <link rel="stylesheet" href="../public/profile/css/animate.css">
    <!-- Icon Fonts-->
    <link rel="stylesheet" href="../public/profile/css/font-awesome.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../public/profile/css/bootstrap.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../public/profile/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/profile/css/owl.theme.default.min.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="../public/profile/css/style.css">
    <!-- Modernizr JS -->
    <script src="../public/profile/js/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="profile">
<navnewsfeed></navnewsfeed>
<!--POST-->
<div class="container marginTop_10_tmt" ng-if="checkOwnPage">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="row">
            <div class="col-md-5" style="padding-top: 10px;padding-bottom: 5px;">
                <h1 style="margin:0;">Hôm nay có gì mới?</h1>
            </div>
        </div>
        <form action="getImage" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea name="message" id="message" cols="30" rows="7" class="form-control"
                                  placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="thumbnail">
                        <img ng-src="{{src}}" alt="...">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="float: right">
                    <label class="custom-file-upload btn btn-primary btn-md">
                        <input id="inputUpImg" type="file" ng-model="myFile"
                               name="getImage"
                               onchange="angular.element(this).scope().uploadedFile(this)"/>
                        Thêm ảnh
                    </label>
                    <input type="submit" class="btn btn-primary btn-md" value="Đăng bài viết">
                </div>
            </div>
        </form>
    </div>
    <br/>
</div>
<!--PROFILE-->
<div class="container">
    <div id="fh5co-main">
        <div class="fh5co-narrow-content">
            <div class="row">
                <div class="col-md-6 col-md-push-1 animate-box" data-animate-effect="fadeInLeft">
                    <img src="../public/images/instagram/camera.jpg" alt="Free HTML5 Bootstrap Template"
                         class="img-responsive">
                </div>
                <div class="col-md-5">
                    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">
                        {{User.fullname}}
                        <input type="button" class="btn btn-primary btn-md"
                               value="Theo dõi người này" ng-show="follow">
                    </h2>
                    <p class="fh5co-lead animate-box" data-animate-effect="fadeInLeft">
                        {{User.introduce}}
                    </p>
                </div>
            </div>
        </div>
        <div class="fh5co-narrow-content fh5co-border-bottom">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">
                Thông tin:
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Số điện thoại:</h3>
                            <p>{{User.phone}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Sinh Nhật:</h3>
                            <p>{{User.birthday}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Địa chỉ:</h3>
                            <p>{{User.address}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
                        <div class="fh5co-icon">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                        <div class="fh5co-text">
                            <h3>Thống kê:</h3>
                            <p>{{User.introduce}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-narrow-content fh5co-border-bottom">
            <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">
                Người đang theo dõi:
            </h2>
            <div class="row animate-box" style="height: 300px;" data-animate-effect="fadeInLeft"
                 ng-if="listFriend.Count > 0">
                <ul>
                    <li>Data</li>
                </ul>
            </div>
        </div>
        <div class="fh5co-narrow-content  animate-box fh5co-border-bottom" data-animate-effect="fadeInLeft">
            <h2 class="fh5co-heading">Hình ảnh:</span></h2>
            <div class="row" ng-if="listNews.length >= 0">
                <div class="col-md-6 fh5co-staff" ng-repeat="da in listNews">
                    <div style="margin:5px 0px;background: #7bc14470;height:auto;border: 2px solid #e4217f59;">
                        <div style="display: flex;justify-content: space-around;">
                            <img ng-src="{{da.url}}" alt="Images" class="img-responsive"
                                 style="height: 300px;width: auto;">
                        </div>
                        <p style="font-size: 12px;float: right;">Thích 001 - Bình Luận 001</p>
                        <br/>
                        <p style="color: #000;padding:10px;">{{da.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../public/profile/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../public/profile/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../public/profile/js/bootstrap.min.js"></script>
<!-- Carousel -->
<script src="../public/profile/js/owl.carousel.min.js"></script>
<!-- Stellar -->
<script src="../public/profile/js/jquery.stellar.min.js"></script>
<!-- Waypoints -->
<script src="../public/profile/js/jquery.waypoints.min.js"></script>
<!-- Counters -->
<script src="../public/profile/js/jquery.countTo.js"></script>
<!-- MAIN JS -->
<script src="../public/profile/js/main.js"></script>
</body>
</html>