<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
<div class="container" style="text-align: center">
    <h1>SYSTEM HELLO!</h1>
</div>
<div class="container">
    <div class="row">
        <h3>Check</h3>
        <ul>
            <a href="/sys/listtable">
                <li>Xem danh sách table đã tạo</li>
            </a>
            <li>table "USER"
                <ul>
                    <a href="/sys/listuser">
                        <li>Xem danh sách item của table "USER"</li>
                    </a>
                    <a href="/sys/insertuser">
                        <li>thêm item</li>
                    </a>
                </ul>
            </li>

        </ul>
    </div>
    <div class="row">
        <h3>Tao bang lan dau:</h3>
        <ul>
            <a href="/sys/createtableuser"><li>Tạo table User (chạy 1 lần thôi)</li></a>
        </ul>
    </div>
</div>
</body>
</html>