<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert User</title>
</head>
<body>
    <form action="/sys/insertuser" method="post">
        <input type="text" name="id" placeholder="id"/><br/>
        <input type="text" name="name" placeholder="name"/><br/>
        <input type="text" name="date" placeholder="date"/><br/>
        <input type="text" name="local" placeholder="local"/><br/>
        <input type="text" name="ip" placeholder="ip"/><br/>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>