<div class="container-fluid" ng-controller="narbar">
    <div class="row background_pink_tmt" style="padding:8px 0;">
        <div class="col-xs-2 col-md-4 col-sm-2 text_tmt marginTop_10_tmt marginBottom_2_tmt">
            <a href="#" ng-click="goHome()" class="tag_a"><span class="text_head_bold_tmt">Lotus</span></a>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-8" style="position: relative;">
            <input type="text" class="form-control" placeholder="Tìm kiếm..."
                   style="height: 100%; color:#fff; height: 35px;" ng-keypress="myFunct($event)" ng-model="narkeyname"/>
            <div style="position: absolute; height: 200px; width: 300px; background: #e4217fad; z-index: 5; left: 30px;"
                 ng-show="popstatus" id="popjs">
                <div style="height: 20px; width: 100%; background: #f9d9e4;">
                    <i class="fa fa-times cursor_tmt" aria-hidden="true"
                       style="padding-right:5px;text-align: right; vertical-align: middle; float: right;"
                       ng-click="actionPopstatus()"></i>
                </div>
                <ul ng-if="listFind.length > 0" class="searchList">
                    <li ng-repeat="da in listFind">{{da.nickname}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-2 paddingTop_4_tmt">
            <div>
                <span data-toggle="dropdown" style="color: #fff;">
                    <i class="fa fa-cog" aria-hidden="true"
                       style="float: right; font-size: 30px;margin-right: 10px"></i>
                </span>
                <ul class="dropdown-menu" style="top: 0px; float: right; left: 0;">
                    <li><a href="#" ng-click="goEditProfile()">Cập nhật thông tin cá nhân</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#" ng-click="onExit()">Đăng xuất</a></li>
                </ul>
            </div>
            <a href="#" ng-click="goProfile()" class="tag_a"><i class="fa fa-user" aria-hidden="true"
                                                                style="float: right; font-size: 30px; margin-right: 20px"></i></a>
        </div>
    </div>
</div>

<div class="container-fluid"></div>
